<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <title>Weather</title>
</head>
<body>
    <div class="app">
        <div class="app__header">
            <% if(weather) { %>
            <h2><%=weather%></h2>
            <% } %>

            <% if(error) { %>
            <p class="error"><%=error%></p>
            <% } %>
        </div>
        <form action="/" method="POST" class="app__content">
            <label for="city">Город</label>
            <input type="text" id="city" placeholder="City Name" name="city">
            <button type="submit" class="btn">See The Weather</button>
        </form>
    </div>
</body>
</html>