* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background-color: #ccc;
    background-image: linear-gradient(to top left,rgba(235, 250, 102, 0.5) 0%, rgba(194, 207, 75, 0.4)  20%, transparent 100%), url(./../img/grass-pattern.jpg);
    background-repeat: repeat;
    width: 100%;
    height: 100vh;
}

.app {
    background-image: radial-gradient(circle at bottom right,rgba(235, 250, 102, 0.6) 0%, rgba(194, 207, 75, 0.4)  20%, transparent 100%), url(./../img/wood-pattern.jpg);
    border: rgb(117, 65, 5) solid 3px;
    border-radius: 20% 20% 4% 4%/ 40%;
    width: 90%;
    max-width: 40rem;
    min-height: 20rem;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(16, 51, 16, 0.7) -1rem -1rem 0.4rem 0;
}

.app__header>h2 {
    color: rgb(11, 128, 0);
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    text-shadow: white 0 0 2px,white 0 0 2px,white 0 0 2px,white 0 0 2px,white 0 0 2px,white 0 0 2px;
}

.app__header>p {
    padding: 0.1rem 0.3rem;
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 1.5rem;
    color: rgb(255, 0, 0);
    text-shadow: rgb(201, 88, 253) -2px -2px 1rem,
        rgb(252, 80, 131) 2px 2px 1rem;
    background-color: rgba(49, 49, 49, 0.753);
    border-radius: 10%;
}

.app__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app__content p {
    font-size: 18px;
}

.app__content > div{
    display: flex;
    margin-bottom: 1rem;
}

.app__content > div > label {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.app__content>input {
    color: whitesmoke;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(0, 109, 33);
    background-color: rgba(0, 0, 0, 0.4);
}

.app__content>input:focus {
    outline: none;
    background-color: rgba(70, 69, 69, 0.5);
    border-bottom-color: rgb(30, 255, 0);
}

.app__content>input::placeholder {
    color: rgb(157, 255, 181);
}

.app__content>label {
    align-self: flex-start;
    font-size: 2rem;
    color: rgb(255, 94, 0);
    text-shadow: black 0 0 1rem,
        rgb(255, 196, 0) 3px 3px 1rem,
        rgb(255, 42, 4) -3px -3px 1rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(17, 17, 17);

}

.btn {
    border: none;
    background-image: linear-gradient(to bottom right, red, yellow);
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out;
    animation: btn 2s ease-in-out 4s infinite;
}

.btn:hover {
    color: wheat;
    box-shadow: whitesmoke 0 0 0.5rem 0.3rem;
    transform: scale(1.1);
    cursor: pointer;
    background-image: linear-gradient(to bottom left, red, yellow);
}

@keyframes btn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}